<h1>Hello and Welcome</h1>
<p>This is our burger app where you can find the best burgers.</p>
<p>Check us out at this address:
    <img src="https://joomly.net/frontend/web/images/googlemap/map.png" alt="Burger App Address"/>
</p>
